.header-default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.container {
    width: 700px;
}

.questions {
    padding: 20px;
    max-height: 500px;
    overflow-y: scroll;
    border-bottom: 2px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    margin-bottom: 30px;
    position: relative;
}

.questions-block {
    margin-top: 20px;
    border: 3px solid #26a69a;
    padding: 20px;
}

.asset-save-btn {
    margin-top: 30px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

.main-button {
    margin-bottom: 20px;
}

.custom-chart {
    height: 300px;
    margin-top: 30px;
}

.disabled-icon {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.max-loss {
    border: 1px solid #432145;
    text-align: center;
}

.risks {
    max-height: 250px;
    border-bottom: 2px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px;
    position: relative;
}

.report-block {
    margin-bottom: 50px;
}

/*SCROLL*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
