<!doctype html>
<html>
<head>
    <script src="lib/anychart/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <script src="lib/anychart/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <link href="lib/anychart/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">

    <script src="lib/vue/vue.min.js"></script>
    <script defer src="lib/vue/axios.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="lib/mat/css/materialize.min.css">
    <script src="lib/mat/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="lib/mat-icons.css">
</head>
    <body>
    <div id = "app" class="container">

<!--        LIST ASSET BLOCK START-->
        <div v-if="type == 'list' && info && info.data">
            <div class="header-default">
                <h4>Активы</h4>
                <a class="main-button waves-effect waves-light btn" v-on:click="showReports();" :disabled="!arrayReportAssets || arrayReportAssets.length === 0">Построить отчеты</a>
            </div>
            <table class="asset-container centered">
                <thead>
                <tr>
                    <th></th>
                    <th>Название</th>
                    <th>Активность</th>
                    <th>Редактирование</th>
                    <th>Отчет</th>
                </tr>
                </thead>

                <tbody>

                    <tr v-for="item in info.data">
                        <td>
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" :disabled="!item.active" v-model="item.selected" @change="updateArrayReportAssets();"/>
                                    <span></span>
                                </label>
                            </p>
                        </td>
                        <td>{{item.name}}</td>
                        <td v-if="item.active" class="teal accent-3" style="width: 30px;"></td>
                        <td v-else class="red darken-1" style="width: 30px;"></td>
                        <td style="cursor: pointer;">
                            <a v-on:click="type = 'edit'; selectedAssetName = item.name; getAsset(item.name);">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td  v-if="item.active" style="cursor: pointer;">
                            <a v-on:click="chooseAloneReportAsset(item); showReports(); ">
                                <i class="material-icons">description</i>
                            </a>
                        </td>
                        <td v-else class="disabled-icon">
                            <i class="material-icons">description</i>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
<!--        LIST ASSET BLOCK END-->

<!--        EDIT ASSET BLOCK START-->
        <div v-if="type=='edit' && selectedAsset && selectedAsset.data">
            <div class="header-default">
                <h4>Редактирование актива</h4>
                <a class="main-button waves-effect waves-light btn" v-on:click="type = 'list';">назад</a>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" type="text" class="validate" v-model="selectedAsset.data.name" disabled>
                            <label class="active" for="name">Название актива</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="price" type="number" class="validate" v-model="selectedAsset.data.price" max="2147483647" required>
                            <label class="active" for="price">Цена актива</label>
                        </div>
                    </div>
                    <label>
                        <input type="checkbox" v-model="selectedAsset.data.active" />
                        <span v-if="selectedAsset.data.active">Активен</span>
                        <span v-else>Не активен</span>
                    </label>

                    <h5>Опрос для определения уязвимостей</h5>
                    <div class="questions" v-if="selectedAsset.data.questions && selectedAsset.data.questions.length != 0">
                        <div class="questions-block" v-for="(question, index) in selectedAsset.data.questions">
                            <h6>Вопрос №{{index+1}}. {{question.name}}</h6>
                            <p v-for="choice in question.choices">
                                <label>
                                    <input class="with-gap" :name="'group' + index + 1" type="radio" :value="true" v-model="choice.selected" @change="questionSelectedFalse(question, choice);" required/>
                                    <span>{{choice.name}}</span>
                                </label>
                            </p>
                        </div>
                    </div>

                    <h5>Угрозы</h5>
                    <div class="questions" v-if="selectedAsset.data.dangers && selectedAsset.data.dangers.length != 0">
                        <table class="asset-container centered">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Вероятность проявления угрозы за 5 лет</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr v-for="item in selectedAsset.data.dangers">
                                <td>{{item.name}}</td>
                                <td><input type="number" v-model="item.chance"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <button :disabled="!isComplete" v-on:click="saveAsset();" class="btn waves-effect waves-light asset-save-btn" name="action">Сохранить
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>

        </div>
<!--        LIST ASSET BLOCK END-->

<!--        REPORT ASSET BLOCK START-->
        <div v-if="type=='report' && reportFinal && reportFinal.length !== 0">
            <div class="header-default">
                <h4>Отчет</h4>
                <a class="main-button waves-effect waves-light btn" v-on:click="type = 'list';">назад</a>
            </div>

            <div v-if = "reportFinal && reportFinal.length !==0" class="report-block" v-for="block in reportFinal">
                <div>
                    <h5 v-if="block.name">Актив: {{block.name}}</h5>

                    <div v-if="block.loss.data" class="max-loss">
                        <h6>Максимальная потеря: ₽ {{block.loss.data.loss.toFixed(3)}}</h6>
                    </div>

                    <div :id="'roi-chart' + block.index" class="custom-chart"></div>

                    <h5>Риски</h5>
                    <div class="risks">
                        <table class="asset-container centered">
                            <thead>
                            <tr>
                                <th>Угроза</th>
                                <th>Уязвимость</th>
                                <th>Риск</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr v-for="item in block.risks.data">
                                <td>{{item.dangerName}}</td>
                                <td>{{item.vulnerabilityName}}</td>
                                <td>{{item.risk.toFixed(3)}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
<!--        REPORT ASSET BLOCK END-->

    </div>
    </body>
</html>
